body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container-inner{
display:flex;
flex-wrap: wrap;
}
.cell{
	flex: 1 0 33.333%;
	height: 33.333vh;
}


.p1{
	background-color: red;
}
.p2{
	background-color: blue;
}